// Primary Colours
// ---------------

// Text
$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

// Background gradient
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

$white: #ffffff;

// Neutral Colours
// ---------------

// Text
$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);

// Dividers
$lightGrayishBlue: hsl(240, 5%, 91%);

// Font sizes
// ----------
$h1FontSize: 1.875rem; // 30px
$h2FontSize: 1rem; // 16px
$h3FontSize: 0.875rem; // 14px
$bodyFontSize: 0.75rem; // 12px
